.parent {
  height: 400px;
  width: 200px;
  background-color: aqua;
}

.parent2 {
  height: 400px;
  width: 200px;
  background-color: rgb(165, 85, 5);
  position: sticky;
  top: 0px;
}

.parent3 {
  height: 400px;
  width: 200px;
  background-color: green;
}

.box-parent {
  height: 400px;
  width: 60%;
  background-color: black;
}

.box {
  height: 50px;
  width: 50px;
  background-color: rgb(14, 185, 25);
  position: absolute;
  top: 0;
  right: 0;
}
