.parent {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 50px;
  box-sizing: border-box;
}

.box {
  height: auto;
  width: auto;
  background-color: brown;
  border: 2px solid white;
}

@media screen and (max-width: 480px) {
  .parent {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 10px;
    padding: 0px 30px;
  }
}
